:root {
    --primary-color: #00613A;
    --secondary-color: #ffb60b;
    --tertiary-color: #d6d6d6;
    --white-color: #ffffff;
}

.accordion-button:not(.collapsed) {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn {
    text-decoration: none;
}

.home {
    background-image: url(../images/slider.png);
}

@media screen and (max-width: 900px) {
    .home img {
       display: none;
    }

    .home {
        background-image: url(../images/foto-mobile.jpeg);
        margin-top: 69px;
    }
}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.btn:hover {
    opacity: 80%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color) !important;
}

h1, .display-5 {
    line-height: 1.5em;
}

hr {
    border: 1px solid var(--white-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--white-color) !important;
}

.navbar-brand{
    margin-left: 1rem;
}

.nav-sticky .nav-item .nav-link {
    color: var(--tertiary-color) !important;
}

.hashtag-text { 
    color: var(--white-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 2px;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.accordion-item:last-of-type {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.75rem - 1px);
    border-top-right-radius: calc(.75rem - 1px)
}

.accordion-item:last-of-type .accordion-button {
    border-bottom-left-radius: calc(.75rem - 1px);
    border-bottom-right-radius: calc(.75rem - 1px)
}

.rounded-top {
    border-top-left-radius: .75rem!important;
    border-top-right-radius: .75rem!important;
}

.badge {
    border: #ffffff 2px solid;
}

.pricing .price-item .price-up-box.active {
    background-color: var(--secondary-color) !important;
}

.pricing .price-item .price-up-box {
    background-color: var(--primary-color) !important;
}

.footer .form-control {
    height: 40px;
}

.navbar-brand-footer img{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

/* home page */
body[data-layout-mode=dark] .accordion .accordion-body {
    background-color: #343f4b !important;
}

body[data-layout-mode=dark] .accordion .accordion-body p {
    color: #ffffff !important;
}

.text-gradiant {
    background: -webkit-linear-gradient(#00613A, #005734);
    background-clip: text;
}

.bg-gradiant {
    background: linear-gradient(80deg, #00613A 0%, #005734 100%);
    border: none !important;
    color: #fff !important;
}

.mode-btn {
    background-color: #343a40;
    border: 1px solid #343a40;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link.active {
    color: #00613A !important;
}

.btn {
    border-color: #00613A;
}

.btn-link {
    color: #00613A;
}

.btn-link:hover {
    color: #005734;
}

.service .service-box a:hover {
    color: #00613A;
}

.service .service-box:hover a {
    color: #00613A;
}

.slider {
    rotate: 90deg;
}

.app-slider .swiper-container .swiper-pagination-bullet-active {
    background: #00613A;
}

.section.footer.bg-dark.overflow-hidden .bg-arrow {
    background: #00613A;
    background-repeat: no-repeat;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

.circle img {
    transition: transform .2s;
}

.circle img:hover {
    transform: scale(1.2);
}

#gallery .swiper-slide img {
    width: 320px !important;
}

@media screen and (max-width: 900px) {
    .mobile-view img {
        height: 100% !important;
    }

    .website-view img {
        display: none;  
    }
}

@media screen and (min-width: 900px) {
    .mobile-view img {
       display: none;
    }
}